html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
}

/*source of footer logic: http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 30px;*/
  background-color: white;
}

p {
    font-size: 16px;
}

.active {
    pointer-events: none;
    cursor: default;
}

.btn-success {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.btn-warning {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}


.btn-default {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.navbar .navbar-toggle .icon-bar {
  background-color:#2F4F4F
}

.jumbotron {
    background-color: #888888;
}

.jumbotron img {
    float: left;
    margin-right: 20px;
}

.jumbotron h1 {
    font-size: xx-large;
    color: black;
}

.jumbotron h2 {
    font-size: xx-large;
    padding-top: -5px;
    margin-top: -5px;
    color: black;
}

.jumbotron p {
    font-size: x-large;
    color: black;
}

h3 .second-head {
    padding-top: 25px;
}

html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}
