/*.jumbotron {*/
/*    position: relative;*/
/*    background: #000 url("../images/header.jpg") center center;*/
/*    height: 340px;*/
/*    width: 100%;*/
/*    background-size: cover;*/
/*    overflow: bottom;*/
/*    color: #FFFFFF;*/
/*    padding-bottom: -15px;*/
/*    margin-bottom: -15px;*/
/*}*/

body {
    padding-top: 50px;
}

p {
    font-size: 16px;
}

.active {
    pointer-events: none;
    cursor: default;
}

.btn-success {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.btn-default {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

/*.navbar-custom {*/
/*    background-color:#DFDFDF;*/
/*    color:#ffffff;*/
/*    border-radius:0;*/
/*}*/



/*.navbar-custom .navbar-nav > li > a:hover {*/
/*    color:black;*/
/*}*/

/*.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {*/
/*    color: #ffffff;*/
/*    background-color:transparent;*/
/*}*/
/*.navbar-custom .navbar-brand {*/
/*    color:#2F4F4F;*/
/*}*/

/*.navbar-custom .navbar-brand:hover {*/
/*    color:black;*/
/*}*/

.navbar .navbar-toggle .icon-bar {
  background-color:#2F4F4F
}

.jumbotron {
    background-color: #888888;
}

.jumbotron img {
    float: left;
    margin-right: 20px;
}

.jumbotron h1 {
    font-size: 40px;
    color: black;
}

.jumbotron h2 {
    font-size: 35px;
    padding-top: -5px;
    margin-top: -5px;
    color: black;
}

.jumbotron p {
    font-size: 20px;
    color: black;
}

html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}


/*.navbar-default .navbar-brand:hover {*/
/*    color: black;*/
/*}*/

/*.nav .navbar-default .navbar-nav:hover {*/
/*    color: black;*/
/*}*/

/*ul.nav a { */
/*    color: #2F4F4F !important; */
/*}*/

/*ul.nav a:hover { */
/*    color: black !important; */
/*}*/

/*small {*/
/*    color: gray;*/
/*}*/

